# Ignore environment variables
.env
server/.env
client/.env

# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build files
client/build/
client/dist/

# Logs & temp files
*.log
